:root {
    --md-primary-fg-color: rgb(28, 31, 35);
    --md-primary-fg-color--light: rgba(28, 31, 35, 0.7);
    --md-primary-fg-color--dark: rgb(20, 23, 26);
    --md-accent-fg-color: rgb(255, 149, 23);
    --md-accent-fg-color--transparent: rgba(255, 149, 23, 0.1);
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: rgb(255, 149, 23);
    --md-primary-fg-color--light: rgba(255, 149, 23, 0.7);
    --md-primary-fg-color--dark: rgb(230, 134, 21);
    --md-accent-fg-color: rgb(255, 149, 23);
    --md-accent-fg-color--transparent: rgba(255, 149, 23, 0.1);
}

.md-header__title {
    color: rgb(255, 149, 23) !important;
    /* make it allcaps */
    text-transform: uppercase;
}

@font-face {
    font-family: __Ubuntu_33955e;
    src: url("/_next/static/media/f884d4ea94220255-s.p.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "t26-carbon";
    src: url("https://use.typekit.net/af/f725ef/000000000000000077359a40/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/f725ef/000000000000000077359a40/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/f725ef/000000000000000077359a40/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-family: 't26-carbon', sans-serif !important;
}